button {
    width: 85px;
    height: 85px;
}

.background {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    width: 700px;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: stretch;
}

.display {
    display: flex;
    height: 100px;
    background-color: #0f0;
    color: black;
    font-size: 50px;
    font-family: monospace;
    margin: 10px;
    justify-content: space-around;
}

.buttons {
    display:flex;
    flex-direction:column;
    flex: 1;
}

.small-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numblock {
    display: flex;
    flex-direction: column;
}

.operator {
    display: flex;
    flex-direction: column;
}