.background {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    width: 700px;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    height: 30px;
}

.buttons {
    display:flex;
    flex-direction:column;
}

.small-buttons {
    display: flex;
    flex-direction: row;
}

.numblock {
    display: flex;
    flex-direction: column;
}

.operator {
    display: flex;
    flex-direction: column;
}