button {
    width: 85px;
    height: 85px;
}

.background {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    width: 700px;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: stretch;
    background-color: #3a3a3a;
    border-radius: 20px;
}

.display {
    display: flex;
    height: 100px;
    background-color: #0f0;
    color: black;
    font-size: 50px;
    font-family: monospace;
    margin: 10px;
    margin-top: 20px;
    justify-content: space-around;
}

.buttons {
    display:flex;
    flex-direction:column;
    flex: 1;
    margin: 10px;
}

.small-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numblock {
    display: flex;
    flex-direction: column;
}

.operator {
    display: flex;
    flex-direction: column;
}

.button {
    font-size: 45px;
    border: 2px solid #000;
    background-color: #c8d8c0;

}

.equal {
    margin-bottom: 10px;
}